# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!win_bison.exe
!win_flex.exe
*.out
*.app

# Intrig additional 
*.swp
o
build
tags

# xenon specific
include/ict/xddl.h
xddl/3GPP/TS-25.331.xddl
xddl/3GPP/TS-36.331.xddl
